[init]
    defaultBranch = master
[user]
    email = emneo@kreog.com
    name = emneo
    signingkey = 5FD0400D0E78EAF9843148808EBFC4B924C62D20
[commit]
    gpgsign = true
    verbose = yes
[alias]
    logs = log --show-signature
    fuckit = reset --hard
    plog = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --stat
    slog = log --oneline --decorate --graph --all
