[init]
        defaultBranch = master
[user]
        email = huntears@kreog.com
        name = "Alexandre Flion"
[commit]
        verbose = yes
[alias]
        logs = log --show-signature
        fuckit = reset --hard
        plog = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --stat
        slog = log --oneline --decorate --graph --all
